{{define "title"}}
Inventory - ElectricCompany
{{end}}

{{define "body"}}
<main>
    <section id="tables" class="container">
        <h2>My inventory</h2>
        <figure>
            <table role="grid">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $i, $p := .Inventory}}
                    <tr>
                        <th scope="row">{{$i}}</th>
                        <td>{{$p.ProductName}}</td>
                        <td>{{$p.ProductQuantity}}</td>
                        <td>
                            <a href="#" style="margin-right: 0.2em;">Edit</a>
                            <a href="#">Delete</a>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </figure>
        <div>
            <button>Add</button>
        </div>
    </section>
</main>
{{end}}